* {
    margin: 0;
    border: 0;
    padding: 0;
}

html  {
     margin: 0;
    border: 0;
    padding: 0;
    scroll-behavior: smooth;
    /*   lässt die seite beim klick auf den link  sanft scrollen    */
}


/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
      margin: 0;
    border: 0;
    padding: 0;
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;

}


.background_img {
    height: 100vh;
    background-image: url('img/hero_bg.jpg');
    background-size: cover;
    /* zeigt das bild über die ganze seite nicht gekachelt */
    background-position: center;
    object-fit: cover;
}


.navbar_total {
    display: flex;
    justify-content: center;
    height: 112px;
    display: flex;
}

.sakura_logo {
   width: 100vw;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}


.sakura_logo_size {
    display: flex;
    width: 64px;
    height: 64px;
}


.navbar {
    width: 100vw;
    display: flex;
    padding-top: 45px;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 24px;
}



.phone {
    display: flex;
    padding-top: 45px;
    align-items: center;
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    white-space: nowrap;
    padding-right: 150px;
    padding-left: 50px;
}



.tel_number_look {
    display: flex;
    background-color: #9f0908;
    border: 3px;
    border-style: solid;
    border-radius: 0.5em;
    padding-top: 0.3em;
    padding-bottom: 0.5em;
    padding-left: 0.8em;
    padding-right: 0.6em;
    align-items: flex-end;
    text-decoration: none;
    color: white;
}


.tel_number_look:hover {
    background-color: #5f0505;
}



.phone_logo {
    display: flex;
    padding-right: 8px;
    width: 24px;
    height: 24px;
}


.headline {
    padding-top: 164px;
    display: flex;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
    color: white;
}



h1 {
    font-weight: bold;
    font-size: 96px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 0;
}


.headline_under {
    font-size: 24px;
    display: flex;
    align-items: flex-start;
    justify-content: center;

}

.navbar_links_look {
    text-decoration: none;
    color: white;
}


.navbar_links_look:hover {
    text-decoration: none;
    color: gray;
}


h2 {
    display: flex;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 80px;
    color: #9f0908;
    padding-top: 120px;
    padding-bottom: 64px;
    margin-top: 0;
    margin-bottom: 0;
}



.picks {
    font-family: "Economica", sans-serif;
    font-weight: bold;
    font-size: 56px;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 120px;
}


span {
    text-align: center;
}


.how {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.how_to_order_logos {
    width: 128px;
    padding-bottom: 16px;
}


.menu {
    width: 100vw;
    background-image: url('img/section_our_menu_bg.jpg');
}


.our_dishes {
    display: flex;
    flex-direction: column;
}

.menu_pic {
    display: flex;
    height: 352px;
    width: 352px;
}


.ramen1,
.ramen3 {
    width: 100vw;
    display: flex;
    padding-left: 120px;
    align-items: center;
}


.ramen2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 120px;
}

.ramen2_img {
    padding-left: 120px;
}


.meal_price {
    font-family: "Raleway", sans-serif;
    align-items: center;
    font-weight: bold;
    font-size: 32px;
    color: #675e54;
    padding-left: 80px;
    padding-right: 80px;
}



h3 {
    display: flex;
    justify-content: flex-start;
    font-family: "Economica", sans-serif;
    font-weight: bold;
    font-size: 56px;
    color: black;
    padding-bottom: 16px;
}




.ramen1_meal_price {
    display: flex;
    justify-self: flex-start;
    padding-bottom: 56px;
}



.ramen2_meal_price {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 56px;
    
    
}


.ramen3_meal_price {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 120px;
}



.table {
    width: auto;
}


td {
    padding-bottom: 8px;
    width: auto;
}


.ramen3_table {

    width: 300px;
}



.h2_find_us_at {
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
}

footer {
    background-color: #0a141e;
    height: 144px;
     display: flex;
    align-items: center;
    justify-content: space-between;

}


.street_name {
    display: flex;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    align-items: center;
    padding-bottom: 64px;
}

.map_marker {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: flex-start
}


iframe {
    width: 100vw;
    height: 50vh;
    margin-bottom: 8px;
}



.sakuralogo {
    display: flex;
    padding-left: 100px;
    align-items: center;
}




.all_media_logos {
    display: flex;
    padding-right: 100px;
    align-items: center;
    gap: 16px;
    
}


.sakuralogo_size {
    height: 44px;
}


.tripadvisor_logo,
.facebook_logo,
.instagrram_logo {
    width: 40px;
    height: 40px;
}





@media (max-width: 1280px) {
  
     .sakura_logo {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content:center;
        padding-top: 45px;
    }



    .navbar_total {
    width: 100vw;
    display: flex;
    justify-content: center;
    row-gap:350px;
    
       
}

    .navbar {
        display: none;
        font-size: 20px;
        
    }


    .phone {
        width: 100vw;
        display: flex;
        justify-content: center;
        padding-right: 0px;
        padding-left: 0px;
        font-size: 20px;

    }



    h1 {

        font-size: 72px;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;

    }
 .headline_under {
        font-size: 20px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        text-align: center;

    }


    h2{
    font-size: 64px;
     padding-top: 96px;
    padding-bottom: 48px;
   }


   .how_to_order_logos {
    width: 112px;
    padding-bottom: 8px;
}


.picks {
    font-size: 32px;
    display: flex;
     padding-bottom: 96px;
}


   .ramen1_meal_price, .ramen2_meal_price {
    
    padding-bottom: 32px;
}


.ramen3_meal_price{

    padding-bottom: 96px;
}

.meal_price{

    padding-left: 24px;
    padding-right: 24px;
}

.ramen1,
.ramen3 {
    width: 100vw;
    display: flex;
    padding-left: 0px;
    align-items: center;
}


.ramen2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 0px;
    white-space: nowrap;
}

.ramen2_img {
    padding-left: 0px;
}

h3 {
    display: flex;
    justify-content: flex-start;
    font-family: "Economica", sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: black;
    padding-top: 16px;
    padding-bottom: 8px;

}

.ramen3_table{

    width: 200px;
}


td{

    padding: 0;
     font-size:24px;
}

.street_name{
    font-size: 20px;
    padding-bottom:48px;
}

    
}



@media (max-width: 767px) {
     .sakura_logo {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content:flex-start;
        padding-left: 40px;
        padding-top: 45px;
    }

    .sakura_logo_size {
    display: flex;
    width: 40px;
    height: 40px;
}



    .navbar_total {
    width: 100vw;
    display: flex;
    justify-content: center;
    row-gap:350px;
          
}

    .navbar {
        display: none;
        font-size: 20px;
            }


    .phone {
        width: 100vw;
        display: flex;
        justify-content: center;
        padding-right: 24px;
        padding-left: 0px;
        font-size: 16px;
    }

    .tel_number_look {
    display: flex;
    background-color: #9f0908;
    border: 3px;
    border-style: solid;
    border-radius: 0.5em;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    align-items: flex-end;
    text-decoration: none;
    color: white;
}
.phone_logo {
    display: flex;
    padding-right: 5px;
    width: 16px;
    height: 16px;
}



    h1 {

        font-size: 44px;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;

    }
 .headline_under {
        font-size: 16px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        text-align: center;
    }


    h2{
    font-size: 40px;
     padding-top: 72px;
    padding-bottom: 40px;
   }

   .picks {
    font-family: "Economica", sans-serif;
    font-weight: bold;
    font-size: 56px;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 72px;
    flex-direction: column;
}

.how_to_order_logos {
    width: 128px;
    padding-bottom: 8px;
}

.how {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:32px ;
}



.how3{
   
    padding-bottom: 0;
}


   h3 {
    display: flex;
    justify-content: flex-start;
    font-family: "Economica", sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: black;
    padding-top: 16px;
    padding-bottom: 8px;

}


td{

    padding: 0;
     font-size:24px;
}


.ramen3_table {
    padding-top: 24px;
    width: 180px;
}


.menu_pic {
    display: flex;
    height: 343px;
    width: 343px;
}

   .ramen1_meal_price, .ramen2_meal_price {
       padding-bottom: 32px;
      
}


.ramen3_meal_price{
    padding-bottom: 72px;
}


.ramen1,
.ramen3 {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    flex-direction: column;
}


.ramen2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;

}

.ramen2_img {
   
}

.ramen2_meal_price {

display: flex;
justify-content: center;

}

.street_name{
    font-size: 20px;
    padding-bottom:40px;
}



footer{

    height: 86px;
}


.sakuralogo {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content:start ;
    padding-left:20px ;
   

}


.sakuralogo_size {
    width: 40px;
    height: 40px;
    object-fit:cover;
    object-position: 0;
        
}


.tripadvisor_logo,
.facebook_logo,
.instagrram_logo {
    width: 32px;
    height: 32px;
}


.all_media_logos {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 0;
    height: 86px;
    gap: 8px;
      
}


.all_logos {
     display: flex;
    align-items: center;
    justify-content: center;

}




}
     
    


